.card {
  align-items: left;
  margin: auto;
  width: 85%;
  min-width: 336px;
  height: 115px;
  margin-top: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-columns-container {
  display: flex;
  align-items: stretch;
}

.cardColumns {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}

.cardHeight {
  height: 75vh;
}

.card-body {
  background-color: whitesmoke;
}

.selectBox {
  position: absolute;
  top: 3px;
  right: 3px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  font-size: 72px;
}

.icon-img {
  width: 55px;
  height: auto;
  margin-right: 15px;
}

.pointer-cursor {
  cursor: pointer;
}

.selected {
  box-shadow: 0 0 20px #008000;
}