.card {
  align-items: left;
  margin: auto;
  width: 85%;
  min-width: 336px;
  height: 125px;
  margin-top: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardHeight {
  height: 75vh;
}

.card-body {
  background-color: whitesmoke;
}

.selectBox {
  position: absolute;
  top: 3px;
  right: 3px;
}

.paginatorPresent {
  height: 69.2vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  font-size: 72px;
  /* Adjust this value to your needs */
}

.icon-img {
  cursor: pointer;
  width: 55px;
  height: auto;
  margin-right: 15px;
}