<div class="flex-container container" style="padding: 50px 25px 0 25px">
  <div class="header-container">
    <span>
      <h1><span style="color: green">Kan</span>ban Board</h1>
      <img class="icon-img pointer-cursor d-inline-block" src="assets/images/addicon.png" alt="Add Task"
          (click)="openDialog()">
      <span class="fadeText">Add Task</span>
    </span>
    <div class="dropBorder d-inline-block pt-2">
      <div class="image-container d-flex justify-content-evenly">
        <div>
          <img class="icon-img mx-3" src="assets/images/editicon.png" alt="Edit Task"
              (drop)="editDialog(taskList.indexOf(selectedTask))"
              (click)="editDialog(taskList.indexOf(selectedTask))"
              [ngStyle]="{'cursor': selectedTask ? 'pointer' : 'default'}">
        </div>
        <div>
          <img class="icon-img mx-3" src="assets/images/trashicon.png" alt="Delete Task"
              title="Drop Here To Delete Task"
              (drop)="drop($event, 'delete')"
              (dragover)="dragOver($event)"
              (click)="deleteSelectedTask()"
              [ngStyle]="{'cursor': selectedTask ? 'pointer' : 'default'}">
        </div>
      </div>
      <div class="text-wrapper">
        <p class="fadeText">Drop Zone</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row card-columns-container">
      <div class="col-sm cardColumns">
        <b>To Do</b>
        <mat-paginator
            [length]="countKanbanTasks('To Do')"
            [pageSizeOptions]="[4]"
            (page)="onToDoPageChange($event)">
        </mat-paginator>

        <div class="col-sm border-4 shadow cardHeight"
            [class.paginatorPresent]="countKanbanTasks('To Do') > 4"
            (dragover)="dragOver($event)"
            (drop)="drop($event, 'To Do')">

          <div class="cardColumns" *ngFor="let task of taskList |
          filter: 'status' : 'To Do' |
          slice : (toDoPage - 1) * pageSize : (toDoPage - 1) * pageSize + pageSize;">
            <div class="card mb-3"
                [class.selected]="task === selectedTask"
                draggable="true"
                (dragstart)="dragStart($event, task)"
                (click)="selectTask(task)">

              <div class="card-body d-flex justify-content-between align-items-center">
                <span>
                  <h5 class="card-title"><b>{{ task.name.length > 19 ? task.name.slice(0, 19) + '...' : task.name }}</b>
                  </h5>
                  <p class="card-text">Priority: {{ task.priority }}</p>
                  <p class="card-text"><small class="text-muted">{{ task.dueDate | date }}</small></p>
                </span>
                <div class="form-group mb-0 selectBox">
                  <select class="form-control" [(ngModel)]="task.status"
                      (change)="onTaskStatusChange(task)" style="width: 115px;">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Complete">Complete</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm cardColumns">
        <b>In Progress</b>
        <mat-paginator
            [length]="countKanbanTasks('In Progress')"
            [pageSizeOptions]="[4]"
            (page)="onInProgressPageChange($event)">
        </mat-paginator>

        <div class="col-sm border-4 shadow cardHeight"
            [class.paginatorPresent]="countKanbanTasks('In Progress') > 4"
            (dragover)="dragOver($event)"
            (drop)="drop($event, 'In Progress')">

          <div class="cardColumns" *ngFor="let task of taskList |
                filter: 'status' : 'In Progress' |
                slice : (inProgressPage - 1) * pageSize : (inProgressPage - 1) * pageSize + pageSize;">
            <div class="card mb-3"
                [class.selected]="task === selectedTask"
                draggable="true"
                (dragstart)="dragStart($event, task)"
                (click)="selectTask(task)">

              <div class="card-body d-flex justify-content-between align-items-center">
                <span>
                  <h5 class="card-title"><b>{{ task.name.length > 19 ? task.name.slice(0, 19) + '...' : task.name }}</b>
                  </h5>
                  <p class="card-text">Priority: {{ task.priority }}</p>
                  <p class="card-text"><small class="text-muted">{{ task.dueDate | date }}</small></p>
                </span>
                <div class="form-group mb-0 selectBox">
                  <select class="form-control" [(ngModel)]="task.status"
                      (change)="onTaskStatusChange(task)" style="width: 115px;">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Complete">Complete</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm cardColumns">
        <b>Complete</b>
        <mat-paginator
            [length]="countKanbanTasks('Complete')"
            [pageSizeOptions]="[4]"
            (page)="onCompletePageChange($event)">
        </mat-paginator>

        <div class="col-sm border-4 shadow cardHeight"
            [class.paginatorPresent]="countKanbanTasks('Complete') > 4"
            (dragover)="dragOver($event)"
            (drop)="drop($event, 'Complete')">

          <div class="cardColumns" *ngFor="let task of taskList |
                filter: 'status' : 'Complete' |
                slice : (completePage - 1) *
                    pageSize : (completePage - 1) * pageSize + pageSize;">
            <div class="card mb-3"
                [class.selected]="task === selectedTask"
                draggable="true"
                (dragstart)="dragStart($event, task)"
                (click)="selectTask(task)">

              <div class="card-body d-flex justify-content-between align-items-center">
                <span>
                  <h5 class="card-title"><b>{{ task.name.length > 19 ? task.name.slice(0, 19) + '...' : task.name }}</b>
                  </h5>
                  <p class="card-text">Priority: {{ task.priority }}</p>
                  <p class="card-text"><small class="text-muted">{{ task.dueDate | date }}</small></p>
                </span>
                <div class="form-group mb-0 selectBox">
                  <select class="form-control" [(ngModel)]="task.status"
                      (change)="onTaskStatusChange(task)" style="width: 115px;">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Complete">Complete</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>