<div class="flex-container container" style="padding: 50px 25px 0 25px">
  <h1>Kanban Board</h1>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm" style="height: 80%;">
        <b>To Do</b>
        <mat-paginator *ngIf="countKanbanTasks('To Do') > 4" [length]="countKanbanTasks('To Do')"
            [pageSize]="toDoPageSize"
            [pageSizeOptions]="[4]"
            (page)="onToDoPageChange($event)">
        </mat-paginator>

        <div class="col-sm border-4 shadow cardHeight"
            [class.paginatorPresent]="countKanbanTasks('To Do') > 4"
            (dragover)="dragOver($event)"
            (drop)="drop($event, 'To Do')">

          <div class="cardColumns" *ngFor="let task of taskList | filter: 'status' : 'To Do' | slice : (toDoPage - 1) *
              pageSize : (toDoPage - 1) * pageSize + pageSize;">
            <div class="card mb-3"
                draggable="true"
                (dragstart)="dragStart($event, task)"
                (dragend)="dragEnd($event)">

              <div class="card-body d-flex justify-content-between align-items-center">
                <span>
                  <h5 class="card-title"><b>{{ task.name.length > 15 ? task.name.slice(0, 15) + '...' : task.name }}</b>
                  </h5>
                  <p class="card-text">Priority: {{ task.priority }}</p>
                  <p class="card-text"><small class="text-muted">{{ task.dueDate | date }}</small></p>
                </span>
                <div class="form-group mb-0 selectBox">
                  <select class="form-control" [(ngModel)]="task.status"
                      (change)="onTaskStatusChange(task)" style="width: 115px;">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Complete">Complete</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm" style="height: 80%;">
        <b>In Progress</b>
        <mat-paginator *ngIf="countKanbanTasks('In Progress') > 4" [length]="countKanbanTasks('In Progress')"
            [pageSize]="inProgressPageSize"
            [pageSizeOptions]="[4]"
            (page)="onInProgressPageChange($event)">
        </mat-paginator>

        <div class="col-sm border-4 shadow cardHeight"
            [class.paginatorPresent]="countKanbanTasks('In Progress') > 4"
            (dragover)="dragOver($event)"
            (drop)="drop($event, 'In Progress')">

          <div class="cardColumns" *ngFor="let task of taskList | filter: 'status' : 'In Progress' | slice : (inProgressPage - 1) *
              pageSize : (inProgressPage - 1) * pageSize + pageSize;">
            <div class="card mb-3"
                draggable="true"
                (dragstart)="dragStart($event, task)"
                (dragend)="dragEnd($event)">

              <div class="card-body d-flex justify-content-between align-items-center">
                <span>
                  <h5 class="card-title"><b>{{ task.name.length > 15 ? task.name.slice(0, 15) + '...' : task.name }}</b>
                  </h5>
                  <p class="card-text">Priority: {{ task.priority }}</p>
                  <p class="card-text"><small class="text-muted">{{ task.dueDate | date }}</small></p>
                </span>
                <div class="form-group mb-0 selectBox">
                  <select class="form-control" [(ngModel)]="task.status"
                      (change)="onTaskStatusChange(task)" style="width: 115px;">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Complete">Complete</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm" style="height: 80%;">
        <b>Complete</b>
        <mat-paginator *ngIf="countKanbanTasks('Complete') > 4" [length]="countKanbanTasks('Complete')"
            [pageSize]="completePageSize"
            [pageSizeOptions]="[4]"
            (page)="onCompletePageChange($event)">
        </mat-paginator>

        <div class="col-sm border-4 shadow cardHeight"
            [class.paginatorPresent]="countKanbanTasks('Complete') > 4"
            (dragover)="dragOver($event)"
            (drop)="drop($event, 'Complete')">

          <div class="cardColumns" *ngFor="let task of taskList | filter: 'status' : 'Complete' | slice : (completePage - 1) *
              pageSize : (completePage - 1) * pageSize + pageSize;">
            <div class="card mb-3"
                draggable="true"
                (dragstart)="dragStart($event, task)"
                (dragend)="dragEnd($event)">

              <div class="card-body d-flex justify-content-between align-items-center">
                <span>
                  <h5 class="card-title"><b>{{ task.name.length > 15 ? task.name.slice(0, 15) + '...' : task.name }}</b>
                  </h5>
                  <p class="card-text">Priority: {{ task.priority }}</p>
                  <p class="card-text"><small class="text-muted">{{ task.dueDate | date }}</small></p>
                </span>
                <div class="form-group mb-0 selectBox">
                  <select class="form-control" [(ngModel)]="task.status"
                      (change)="onTaskStatusChange(task)"
                      style="width: 115px;">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Complete">Complete</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>