<div class="d-flex flex-column" style="height: 100vh; ">
  <br>
  <div>
    <span style=" font-size: 1.75rem; margin-top: 50px; margin-left: 20px;">
      <b><span style="color:green;">TASK</span>IT</b>
    </span>
    <button style="display: block; margin: 25px 0 0 20px; width: 80%" class="btn btn-success">Task List</button>
  </div>
  <div class="d-flex flex-row mt-auto border-top border-1 align-items-center">
    <div style="height: 55px;">
      <img src="/assets/images/profile.jpg" alt="Profile" class="img-fluid rounded-circle mr-3 profilePic">
    </div>
    <div style="font-size: .65rem; display: inline-block;">
      <b>
        <span style="display: inline; margin-top: 5px;">Robert</span>
        <p>email@gmail.com</p>
      </b>
    </div>
    <div>
      <span class="material-symbols-outlined">logout</span>
    </div>
  </div>
</div>