<div class="flex-container container" style="padding: 50px 25px 0 25px">
  <h1>Task List</h1>
  <div class="d-flex">
    <div class="align-self-center">
      <span style="margin-right: 5px;"><b>Filters:</b></span>
      <select class="form-select d-inline-flex" style="width:10%; min-width: 100px; margin-right: 5px;" name="status"
          id="status">
        <option selected>Status</option>
        <option value="complete">Not Started</option>
        <option value="pending">Pending</option>
        <option value="not-started">Completed</option>
      </select>
      <select class="form-select d-inline-flex" style="width:10%; min-width: 85px; margin-right: 5px;" name="sort"
          id="sort">
        <option selected>Date</option>
        <option value="date">Newest</option>
        <option value="priority">Oldest</option>
      </select>
      <select class="form-select d-inline-flex" style="width:10%; min-width: 105px" name="priority" id="priority">
        <option selected>Priority</option>
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
      </select>
    </div>
    <div class="ms-auto p-2"><button class="btn btn-success d-flex justify-content-end" (click)="openDialog()">Add New
        Task</button></div>

  </div>
  <div class="task-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let task of taskList; let i = index;">
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.dueDate | date:'MM/dd/yyyy' }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.status }}</td>
          <td>
            <!-- <span class="material-symbols-outlined" style="margin-right: 5px;">
              visibility
            </span> -->
            <span class="material-symbols-outlined" style="margin-right: 5px;" (click)="editDialog(i)">
              edit_square
            </span>
            <a (click)="deleteTask(i)"><span class="material-symbols-outlined">
                delete
              </span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>