<div class="flex-container container" style="padding: 50px 25px 0 25px">
  <h1>Task List</h1>
  <div class="d-flex">
    <div class="d-flex align-self-center">
      <span style="margin-right: 5px;"><b>Filters:</b></span>
      <select class="form-select d-inline-flex" style="width:10%; min-width: 125px; margin-right: 5px;" name="status"
          id="status" [(ngModel)]="selectedStatus" (change)="onFilterChange('status', selectedStatus)">
        <option selected>Status</option>
        <option value="To Do">To Do</option>
        <option value="In Progress">In Progress</option>
        <option value="Complete">Complete</option>
      </select>
      <select class="form-select d-inline-flex" style="width:10%; min-width: 85px; margin-right: 5px;" name="date"
          id="date" [(ngModel)]="selectedDate" (change)="onFilterChange('Date', selectedDate)">
        <option selected>Date</option>
        <option value="Newest">Newest</option>
        <option value="Oldest">Oldest</option>
      </select>
      <select class="form-select d-inline-flex" style="width:10%; min-width: 105px" name="priority" id="priority"
          [(ngModel)]="selectedPriority" (change)="onFilterChange('Priority', selectedPriority)">
        <option selected>Priority</option>
        <option value="High">High</option>
        <option value="Low">Low</option>
      </select>
      <span class="d-flex justify-content-center align-items-center">
        <span class="material-symbols-outlined reset-icon" (click)="clearFilters()">
          restart_alt
        </span>
      </span>
    </div>
    <div class="d-flex ms-auto p-2">
      <button class="btn btn-success d-flex justify-content-end" style="margin-right: 8px;" (click)="openDialog()">Add
        New Task</button>
      <button class="btn btn-success d-flex justify-content-end" (click)="getRandomTask()">Add Random Task</button>
    </div>
  </div>
  <div class="task-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let task of taskList; let i = index; ">
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.dueDate | date:'MM/dd/yyyy' }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.status }}</td>
          <td>
            <span class="material-symbols-outlined" style="margin-right: 5px;">
              visibility
            </span>
            <span class="material-symbols-outlined" style="margin-right: 5px;" (click)="editDialog(i)">
              edit_square
            </span>
            <a (click)="deleteTask(i)"><span class="material-symbols-outlined">
                delete
              </span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>