span {
  margin: 5px;
  cursor: pointer;
}


.reset-icon {
  justify-self: center;
  align-self: center;
  margin-left: 15px;
  cursor: pointer;
  transform: scale(1.4);
}

th {
  cursor: pointer;
}

.overdue {
  background-color: #83bca9;
  font-weight: 500;
  color: white;
}